<div class="row">
  <div class="col-sm-3">
    <div class="list-group">
      <%= redux_store 'adminStore' %>
      <%= react_component 'Sidebar' %>
    </div>
  </div>
  <div class="col-sm-9">
    info about orders.
  </div>
</div>
