<h1>Admin::Products#show</h1>
<p>Find me in app/views/admin/products/show.html.erb</p>
<ul>
  <li><%= @product.title %></li>
  <li><%= @product.price %></li>
  <li><%= @product.category.title %></li>
</ul>
