.navbar-brand {
  padding: 5px 5px;
}
.navbar__xs-brand {
  padding: 5px 5px;
}
.navbar__custom-button {
  float: right;
  margin-right: 0;
}
.navbar-toggle {
  float: left;
}

.navbar__reg-links {
  margin-right: 3px;
}
.navbar-fixed-top {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.59);
}

.navbar__text-custom {
  margin-left: 3px;
  margin-right: 3px;
}
