.categories-menu {
  position: relative;
  li {
    padding: 3px;
  }
}
.categories-menu>ul>li {
  padding: 10px 15px;
}

.categories-menu__item {
  margin: 5px;
  float: left;
}

.categories-menu__root-link {
  display: inline-block;
  border: 1px solid $light-gray;
}

.categories-menu__drop-down-container {
  font-size: 0.9em;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid $light-gray;
  border-radius: 2px;
  position: absolute;
  top: 45px;
  z-index: 150;
  left: 0;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.42);
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.42);
}
