.control-icon {
  cursor: pointer;
  opacity: 0.5;
  margin-right: 4px;
  margin-left: 4px;
  &:hover {
    opacity: 1;
  }
}

.control-block {
  margin-left: 10px;
  display: inline-block;
}

.control-button {
  margin-left: 10px;
  display: inline-block;
}
