.devise__body {
  background: image-url('devise_bg.jpg') no-repeat center center fixed;
  min-height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.devise__main-continer {
  background-color: rgba(119,119,119, 0);
  margin-top: 80px;
}
.devise__back-button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: $orange;
  background-color: rgba(119,119,119,0.2);
  padding: 20px;
  border: 1px solid rgba(119,119,119,0.3);
  border-radius: 30%;
  &:hover {
    color: $orange;
    background-color: rgba(119,119,119,0.3);
    padding: 20px;
    border: 1px solid rgba(119,119,119,0.4);
    border-radius: 30%;
  }
}

