@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/static/fonts/Roboto-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/Roboto-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/Roboto-700.woff2') format('woff2');
}
