footer {
  max-height: 200px;
  background-color: #fff;
  .social-links {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.footer-list {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-bottom {
  background-color: $light-gray;
}

.footer-top {
  margin-bottom: 20px;
}

.margin-buttom-10 {
  margin-top: 5px;
  margin-bottom: 10px;
}

