.left-menu {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 2010;
  background: #fff;
  font-weight: bold;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
}
.left-menu__hide {
  margin-top: 5px;
}
.left-menu__list {
  margin-left: 20px;
}

.left-menu__link {
  color: #767676;
  &:hover {
    color: #767676;
  }
}

.collapsing {
  -webkit-transition: height 0.01s;
  transition: height 0.01s;
}
