img {
  @extend .img-responsive;
  margin: 0 auto;
}

body {
  background-image: image-url('left_fon.png'), image-url('right_fon.png');
  background-position: left top, right top;
  background-repeat: repeat-y;
}

.main-container {
  background-color: #fff;
  margin-top: 80px;
}
.main-container__title {
  margin-top: 0;
}
.margin-top-20 {
  margin-top: 20px;
}
