.top-cart {
  position: relative;
}
.cart-present {
  color: $red;
}
.cart-empty {
}
.glyphicon-shopping-cart {
}
.prev-cart {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.59);
  img {
    width: 40px;
    height: 40px;
  }
  position: absolute;
  left: -450px;
  width: 600px;
  z-index: 1000;
}

.prev-cart__table-container {
  max-height: 300px;
  overflow: auto;
}

