.products-grid {
  display: flex;
  flex-flow: row wrap;
}
.product-thumb {
  padding: 5px;
  position: relative;
  border: 2px solid white;
  margin-bottom: 10px;
  &:hover {
    border: 2px solid $orange;
  }
}
.product-thumb__button {
  border-radius: 0 0 3px 3px;
}
.product-thumb__img-block {
  max-width: 200px;
}

.product-thumb__title {
  display: block;
  max-height: 18px;
  margin-bottom: 2px;
  overflow: hidden;
}


.product-thumb:hover .preview-product__show-button {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -65px;
}

.preview-product__show-button {
  display: none;
  position: absolute;
  left: 50%;
  top: 20px;
}
