.sidebar {
  border-color: #dfe0e0;
}
.sidebar__category-selected, .sidebar__category-parent {
  color: #e62739;
}
.sidebar__heading {
  background-color: rgb(250, 250, 250);
}
.sidebar__list {
  margin-left: 20px;
}
