.sidebar {
  border-color: $orange;
}
.sidebar__link {
  color: #767676;
  &:hover {
    color: #767676;
  }
}
.sidebar__category {
  color: #767676;
  &:hover {
    color: #767676;
  }
}
.sidebar__category-selected {
  &:hover {
    text-decoration: none;
  }
}
.sidebar__category-selected, .sidebar__category-parent {
  &:hover {
    color: lighten($brown, 10%);
  }
  color: lighten($brown, 10%);
}
.sidebar__list {
  margin-left: 16px;
}
