.sidebar {
  border-color: $orange;
}
.sidebar__link {
  color: $gray;
  &:hover {
    color: $gray;
  }
}
.sidebar__category {
  color: $gray;
  &:hover {
    color: $orange;
  }
}
.sidebar__category-selected {
  &:hover {
    text-decoration: none;
  }
}
.sidebar__category-selected, .sidebar__category-parent {
  &:hover {
    color: lighten($brown, 10%);
  }
  color: lighten($brown, 10%);
}
.sidebar__list {
  margin-bottom: 3px;
  margin-left: 16px;
}

.sidebar__list_large {
  font-size: 110%;
  .sidebar__category {
    padding: 8px 12px;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    color: lighten(#000, 20%);
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }
}
