$font-family-sans-serif: 'Roboto', sans-serif;

$green:#81C784;
$orange: #FFD54F;
$black: #010000;
$brown: #1B5E20;
$red: #D32F2F;
$gray: #767676;
$light-gray: #F5F5F5;

$brand-primary: $orange;

$link-color: $brown;
$navbar-default-bg: $light-gray;
$navbar-default-border: $navbar-default-bg;
$navbar-default-color: $black;
$navbar-default-link-color: $black;
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 15%);
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: $orange;

$badge-color: $black;
$badge-bg: $orange;

$nav-link-hover-bg: none;

$input-border-focus: $orange;

$hr-border: $orange;

$btn-primary-color: $black;
$btn-primary-bg: $orange;
$btn-primary-border: darken($orange, 6.5%);


$btn-success-color: $black;
$btn-success-bg: $green;
$btn-success-border: darken($green, 6.5%);

$alert-info-bg: lighten($brown, 65%);
$alert-info-border: darken($alert-info-bg, 6.5%);
$alert-info-text: $black;

$pagination-border: darken($orange, 6.5%);

$thumbnail-border: rgba(0, 0, 0, 0);

$table-border-color: darken($orange, 6.5%);

$pagination-active-bg: $green;
$pagination-active-border: darken($green, 6.5%);
