<p>Привет <%= @resource.email %>!</p>

<p>Кто-то хочет поменять пароль, это можно сделать пройдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали этого письма, пожалуйста, просто проигнорируйте.</p>
