<p>Привет <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирван</p>

<p>Пройдите по ссылке ниже, чтобы разблокировать ваш аккаунт</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
