<nav class="left-menu collapse">
  <button class='btn btn-link pull-right left-menu__hide' data-toggle="collapse" data-target=".left-menu">
    <span class="glyphicon glyphicon-menu-left"></span>
  </button>
  <%= image_tag image_url('logo-ananas.png') %>
  <div class="clearfix"></div>
  <hr/>
    <%= react_component 'NavbarProductSearch' %>
    <ul class='left-menu__list list-unstyled'>
      <li>
        <a class='left-menu__reg-link' href="#">Вход</a> / <a class='left-menu__reg-link' href="#">Регистрация</a>
      </li>
    </ul>
    <hr/>
    <%= render partial: 'categories_bar', locals: {categories: Category.roots, current_category: @category} %>
    <hr/>
    <ul class='left-menu__list list-unstyled'>
      <li><a class='left-menu__link' href="#">О нас</a></li>
      <li><a class='left-menu__link' href="#">Мастерам</a></li>
      <li><a class='left-menu__link' href="#">Контакты</a></li>
      <li><a class='left-menu__link' href="#">Доставка</a></li>
      <li><a class='left-menu__link' href="#">Как заказать</a></li>
      <li><a class='left-menu__link' href="#">Cпособы оплаты</a></li>
    </ul>
</nav>
