<nav>
  <ul class="pager">
    <li class="previous"><%= link_to_previous_page collection, '← Туда' %></li>
    <li><%= page_entries_info collection %></li>
    <li class="next"><%= link_to_next_page collection, 'Сюда →' %></li>
  </ul>
</nav>
