<%= content_for :banner do %>
  <%= react_component "AppBanner" %>
<% end %>
<div class="row">
  <div class="col-sm-3 hidden-xs">
    <div class="sidebar panel">
      <div class="panel-body">
        <%= render partial: 'categories_bar', locals: { categories: Category.roots } %>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <h3 class='text-center main-container__title'>Лучшие товары от ананса</h3>
    <%= react_component 'IndexProducts' %>
</div>
