<div class="row">
  <div class="col-sm-3 hidden-xs">
  </div>

  <div class="col-sm-9">
    <h2><%= @keyword %></h2>
    <div class="products-grid">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <%= render partial: 'products/product', locals: { product: product } %>
        </div>
      <% end %>
    </div>
    <%= render partial: 'pager', locals: { collection: @products } %>
  </div>
</div>
