<div class="row">
  <div class="col-md-12">
    <%= render partial: 'breadcrumb', locals: { category: @product.category, title: @product.title } %>
  </div>
</div>
<%= react_component 'FullProduct', props: {id: @product.id} %>
