<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @product.cover_url(:medium) %>
    </div>

    <div class="col-md-9">
      <h1><%= @product.title %></h1>
    </div>
  </div>
</div>
