<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Мой профиль', my_cabinet_root_path, {class: 'nav-item'} %>
  </li>
  <li class="nav-item">
    <%= link_to 'Мои заказы', my_cabinet_orders_path, {class: 'nav-item'} %>
  </li>
  <li class="nav-item">
    <%= link_to 'Мои адреса доставки', my_cabinet_addresses_path, {class: 'nav-item'} %>
  </li>
</ul>
